* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-base;
}

a,
button,
ul,
li,
Link {
  list-style-type: none;
  text-decoration: none;
  color: $color-2;
  font-family: $font-base;
}