.about-us {
  display: flex;
  width: 100vw;
  font-family: $font-alt;
  .about-us--content {
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: $color-background;
    padding: 30px;

    .content-text {
      font-size: 1rem;
      line-height: 1.9rem;
      text-align: center;
      margin-bottom: 60px;
    }

    img {
      align-self: flex-end;
    }
  }

  .about-us--img {
    width: 50%;
  }
}